    .lorem{
        font-family: Pacifico;
        margin-left: 1.66%;
        padding-bottom: 5px;
        position: relative;
    }

    img{
        
        width: 30%;
        margin: 0.6%;
    }

